<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./d.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main-section">
        <div class="dashbord">
            <div class="icon-section">
                <i class="fa fa-users" aria-hidden="true"></i><br>
                <small>ADMINISTRATION</small>
                <p>256</p>
            </div>
            <div class="detail-section">
                <a href="#">More Info </a>
            </div>
        </div>

        <div class="dashbord">
            <div class="icon-section">
                <i class="fa fa-users" aria-hidden="true"></i><br>
                <small>MANAGER</small>
                <p>256</p>
            </div>
            <div class="detail-section">
                <a href="#">More Info </a>
            </div>
        </div>

        <div class="dashbord">
            <div class="icon-section">
                <i class="fa fa-users" aria-hidden="true"></i><br>
                <small>EDITOR</small>
                <p>256</p>
            </div>
            <div class="detail-section">
                <a href="#">More Info </a>
            </div>
        </div>

                <div class="dashbord">
                    <div class="icon-section">
                        <i class="fa fa-users" aria-hidden="true"></i><br>
                        <small>VIEWER</small>
                        <p>256</p>
                    </div>
                    <div class="detail-section">
                        <a href="#">More Info </a>
                    </div>
                </div>
                
                <div class="dashbord">
                    <div class="icon-section">
                        <i class="fa fa-users" aria-hidden="true"></i><br>
                        <small>SUPPLIER</small>
                        <p>256</p>
                    </div>
                    <div class="detail-section">
                        <a href="#">More Info </a>
                    </div>
                </div>
    </div>
</body>

</html>